<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="/css/style.css">
    <title>WhatsApp Clone</title>
    <style>

    </style>
</head>

<body>
    <section class="chatbox">
        <div id="logo">
            <img src="/img/logo.png" alt="Logo Image">
            <h2>WhatsApp Clone</h2>
        </div>
        <div class="message-section">
                <div class="outgoing message">HEY</div>
        </div>
        <div>
            <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
        </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="../"></script> -->
    <script src="/js/client.js"></script>
</body>

</html>